html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #1d1d2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #111;
  box-shadow: 0 4px 30px #1a172e54;
  border-radius: 10px;
  height: 70vh;
  width: 75vw;
  padding: 20px 35px;
}

.screen {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px slid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #111;
  font-size: 35px;
  overflow: auto;
  padding: 20px;
  text-align: right;
  width: 300px;
}

.calcBtn-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calc-btn {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.067);
  border: 1px solid #11111106;
  border-radius: 16px;
  box-shadow: 0 4px 30px #1a172e54;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 24px;
  height: 65px;
}

.calc-btn:last-child {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.067);
  border-radius: 16px;
  box-shadow: 0 4px 30px #1a172e54;
  background: #191931;
  color: #fff;
}

.calc-btn:last-child:hover {
  background-color: inherit;
  color: inherit;
}

.calc-btn:hover {
  background-color: inherit;
}

.calc-btn:active {
  background-color: #d8d100;
}

.double {
  flex-basis: 47%;
}

.triple {
  flex-basis: 73%;
}
