@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Ubuntu:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif; 
  background: #fff1f2;
  height: 300vh;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  padding: 0;
}


#logoTipo {
  width: 100px;
}

